
<div class="box">
	<table class="table">
		<!--<tbody>
			<tr *ngFor="let document of getDocumentList()">
				<td width="5%" class="has-text-centered"><a *ngIf="document.file != null" target="_blank" href="{{ document.file }}"><span class="icon is-small"><i class="fa fa-file-pdf-o"></i></span></a></td>
				<td width="40%">
					<p><strong>{{ document.documentType.title }}</strong><small *ngIf="document.expirationDate != null">&nbsp; (Vcto.: {{ document.expirationDate | date:'shortDate' }})</small></p>
					<p>Grupo: {{ document.documentType.documentGroup }}</p>
					<p>Empresa: {{ document.customer.name }}</p>
				</td>
				<td width="35%">
					<p *ngIf="document.sender !== null">Enviado por: {{ document.sender?.firstName }} {{ document.sender?.lastName }}</p>
					<p *ngIf="document.approver !== null">Aprovado por: {{ document.approver?.firstName }} {{ document.approver?.lastName }}</p>
				</td>
				<td width="15%" [innerHTML]="document.status | status"></td>
				<td width="5%">
					<a *ngIf="document.status != 'Pending'" (click)="send(document)" title="Enviar"><span class="icon is-small"><i class="fa fa-paper-plane"></i></span></a>
					<a *ngIf="document.status == 'Pending'" (click)="approval(document)" title="Aprovar"><span class="icon is-small"><i class="fa fa-thumbs-o-up"></i></span></a>
					<a *ngIf="document.status != 'Empty'" (click)="eraseFile(document)" title="Apagar arquivo"><span class="icon is-small"><i class="fa fa-eraser"></i></span></a>
					<a (click)="delete(document)" title="Remover"><span class="icon is-small"><i class="fa fa-trash"></i></span></a>
				</td>
			</tr>
		</tbody>-->
	</table>
</div>

<!--<div id="modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">{{ modalTitle }}</p>
			<button (click)="closeModal()" class="delete"></button>
		</header>
		<section class="modal-card-body">
			<div *ngIf="errors.length > 0" class="notification is-danger" id="notification">
				<ul>
					<li *ngFor="let error of errors">{{ error.errorMessage }}</li>
				</ul>
			</div>
			<form [formGroup]="form">
				<div *ngIf="action == 'Add'">
					<div class="columns">
						<div id="documentTypeId" class="field column">
							<label class="label">Tipo de documento</label>
							<p class="control">
								<span class="select is-fullwidth">
									<select formControlName="documentTypeId">
										<option value="{{ documentType.id }}" *ngFor="let documentType of documentTypeList">{{ documentType.title }}</option>
									</select>
								</span>
							</p>
						</div>
						<div id="customerId" class="field column">
							<label class="label">Cliente</label>
							<p class="control">
								<span class="select is-fullwidth">
									<select formControlName="customerId">
										<option value="{{ customer.id }}" *ngFor="let customer of customerList">{{ customer.name }}</option>
									</select>
								</span>
							</p>
						</div>
					</div>
				</div>
				<div *ngIf="action == 'Send'">
					<div class="title form-title">Dados</div>
					<div class="columns label-columns">
						<div class="column is-3">
							<label class="label">Cliente:</label>
						</div>
						<div class="column is-9">
							<label>{{ document.customer.name }}</label>
						</div>
					</div>
					<div class="columns label-columns">
						<div class="column is-3">
							<label class="label">Documento:</label>
						</div>
						<div class="column is-9">
							<label>{{ document.documentType.title }}</label>
						</div>
					</div>
					<div class="title form-title">Arquivo</div>
					<div class="columns">
						<div id="expirationDate" class="field column is-4">
							<label class="label">Validade</label>
							<p class="control">
								<input class="input" type="date" formControlName="expirationDate">
							</p>
						</div>
						<div id="file" class="column">
							<label class="label">Arquivo</label>
							<input id="inputFile" (change)="fileChange($event)" type="file" accept="application/pdf">
							<div class="field has-addons">
								<p class="control is-expanded">
									<input class="input" type="text" value="{{ fileName }}" readonly>
								</p>
								<p class="control">
									<button (click)="fileSelect()" class="button is-warning">
										<span class="icon is-small"><i class="fa fa-upload"></i></span>&nbsp;&nbsp; Carregar
									</button>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div *ngIf="action == 'Approve'">
					<div class="title form-title">Dados</div>
					<div class="columns label-columns">
						<div class="column is-3">
							<label class="label">Cliente:</label>
						</div>
						<div class="column is-9">
							<label>{{ document.customer.name }}</label>
						</div>
					</div>
					<div class="columns label-columns">
						<div class="column is-3">
							<label class="label">Documento:</label>
						</div>
						<div class="column is-9">
							<label>{{ document.documentType.title }}</label>
						</div>
					</div>
					<div class="title form-title">Arquivo</div>
					<div class="columns label-columns">
						<div class="column is-3">
							<label class="label">Enviado por:</label>
						</div>
						<div class="column is-9">
							<label>{{ document.sender.firstName }} {{ document.sender.lastName }}, em {{ document.sendDate | date: 'shortDate' }} as {{ document.sendDate | date: 'HH:mm:ss' }}</label>
						</div>
					</div>
					<div class="columns label-columns">
						<div class="column is-3">
							<label class="label">Validade:</label>
						</div>
						<div class="column is-9">
							<label>{{ document.expirationDate | date: 'dd/MM/yyyy' }}</label>
						</div>
					</div>
					<div class="columns label-columns">
						<div class="column is-3">
							<label class="label">Arquivo:</label>
						</div>
						<div class="column is-9">
							<a *ngIf="document.file != null" target="_blank" href="{{ document.file }}"><span class="icon is-small"><i class="fa fa-file-pdf-o"></i></span></a>
							<label>{{ document.documentType.title }}.pdf</label>
						</div>
					</div>
				</div>
			</form>
		</section>
		<footer class="modal-card-foot">
			<div *ngIf="action == 'Approve'">
				<button (click)="approve()" class="button is-success">
					<span class="icon is-small"><i class="fa fa-thumbs-o-up"></i></span>
					<span>Aprovar</span>
				</button>
				<button (click)="disapprove()" class="button is-danger">
					<span class="icon is-small"><i class="fa fa-thumbs-o-down"></i></span>
					<span>Reprovar</span>
				</button>
				<button (click)="closeModal()" class="button">Cancelar</button>
			</div>
			<div *ngIf="action != 'Approve'">
				<button (click)="save()" [disabled]="!form.valid" class="button is-success">
					<span class="icon is-small"><i class="fa fa-check"></i></span>
					<span>Salvar</span>
				</button>
				<button (click)="closeModal()" class="button">Cancelar</button>
			</div>
		</footer>
	</div>
</div>

<div id="alert" class="modal">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">{{ alertTitle }}</p>
			<button (click)="closeAlert()" class="delete"></button>
		</header>
		<footer class="modal-card-foot">
			<button (click)="save()" class="button is-danger">
				<span class="icon is-small"><i class="fa fa-times"></i></span>
				<span>Excluir</span>
			</button>
			<button (click)="closeAlert()" class="button">Cancelar</button>
		</footer>
	</div>
</div>-->