<section class="hero is-warning is-small">
	<div class="hero-body"></div>
	<div class="hero-foot">
		<div class="container">
			<nav class="tabs is-boxed">
				<ul>
					<li routerLinkActive="is-active"><a routerLink="/home"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a></li>
					<li routerLinkActive="is-active"><a routerLink="/customer"><i class="fa fa-building fa-fw"></i>&nbsp; Empresas</a></li>
					<li routerLinkActive="is-active"><a routerLink="/contact"><i class="fa fa-users fa-fw"></i>&nbsp; Contatos</a></li>
					<li routerLinkActive="is-active"><a routerLink="/document"><i class="fa fa-book fa-fw"></i>&nbsp; Documentos</a></li>
					<li routerLinkActive="is-active"><a routerLink="/offer"><i class="fa fa-gavel fa-fw"></i>&nbsp; Ofertas</a></li>
					<li routerLinkActive="is-active"><a routerLink="/configuration"><i class="fa fa-cogs fa-fw"></i>&nbsp; Configurações</a></li>
				</ul>
			</nav>
		</div>
	</div>
</section>